{ "parser": "babel-eslint",
  "extends": ["airbnb", "eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "document": true
  }
}
